@using Azure.Core;
@using BlazorConf2023.Models;
@using DocumentFormat.OpenXml.Packaging;
@using Microsoft.Graph;
@using Microsoft.Fast.Components.FluentUI
@using Microsoft.SemanticKernel;
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IConfiguration configuration;
@inject NavigationManager MyNavigationManager

<h2>Document Summarize</h2>

@if (files != null)
{
    <table>
        <thead>
            <tr>
                <th>File name</th>
                <th>Open</th>
                <th>Summarize</th>
            </tr>
        </thead>

        @foreach (var file in files)
        {
            <tr>
                <td>@file.Name</td>
                <td><FluentButton Appearance="Appearance.Accent" @onclick="() => MyNavigationManager.NavigateTo(file.WebUrl)">Open</FluentButton></td>
                <td><FluentButton Appearance="Appearance.Accent" @onclick="() => SummarizeDocument(file)">Summarize</FluentButton></td>
            </tr>
        }

    </table>

    <p><h3>Document summary:</h3></p>
    <p>@documentContent</p>
}

@if (IsLoading)
{
    <FluentProgressRing />
}


@code {

    private readonly string _scope = "Files.Read.All";

    public bool IsLoading { get; set; }
    public bool NeedConsent { get; set; }
    public List<DriveFile> files = new();
    public string documentContent;
    private GraphServiceClient graphClient;


    private async Task SummarizeDocument(DriveFile document)
    {
        IsLoading = true;
        var drive = await graphClient.Me.Drive.GetAsync();
        var content = await graphClient.Drives[drive.Id].Items[document.Id].Content.GetAsync();
        MemoryStream stream = new MemoryStream();
        await content.CopyToAsync(stream);

        WordprocessingDocument wordprocessingDocument = WordprocessingDocument.Open(stream, true);
        var documentBody = wordprocessingDocument.MainDocumentPart.Document.Body.InnerText;

        string openAIKey = configuration["OpenAI:ApiKey"];
        string model = configuration["OpenAI:Model"];

        var kernel = Kernel.Builder.Build();
        kernel.Config.AddOpenAIChatCompletionService(model, openAIKey);

        var skill = kernel.ImportSemanticSkillFromDirectory("Skills", "SummarizeSkill");

        var response = await kernel.RunAsync(documentBody, skill["Summarize"]);

        documentContent = response.Result;

        IsLoading = false;
    }

    private async Task<bool> HasPermission(string scope)
    {
        try
        {
            await teamsUserCredential.GetTokenAsync(new TokenRequestContext(new string[] { _scope }), new System.Threading.CancellationToken());
            return true;
        }
        catch (ExceptionWithCode e)
        {
            if (e.Code == ExceptionCode.UiRequiredError)
            {
                NeedConsent = true;
            }
        }
        return false;
    }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        if (await HasPermission(_scope))
        {
            if (await MicrosoftTeams.IsInTeams())
            {
                graphClient = teamsfx.CreateMicrosoftGraphClient(teamsUserCredential, _scope);
            }
            else
            {
                var msGraphAuthProvider = new MsGraphAuthProvider(teamsUserCredential, _scope);
                graphClient = new GraphServiceClient(msGraphAuthProvider);
            }

            var result = await graphClient.Me.Drive.GetAsync();
            var filesResult = await graphClient.Drives[result.Id].Items["root"].Children.GetAsync();

            foreach (var item in filesResult.Value.Where(x => x.Name.EndsWith("docx")))
            {
                files.Add(new DriveFile
                    {
                        Id = item.Id,
                        Name = item.Name,
                        WebUrl = item.WebUrl
                    });
            }
        }
        IsLoading = false;
    }
}
