@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager

@if (isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing />
    </div>
}
else
{
    <div class="welcome page">
        <div class="narrow page-padding">
            <img src="hello.png" />
            <h1 class="center">Congratulations@(!String.IsNullOrEmpty(userName) ? ", " + userName : "")!</h1>
            <p class="center">
                @if (isInTeams)
                {
                    <strong>The application is running in Microsoft Teams</strong>
                    @if (!string.IsNullOrEmpty(teamName))
                    {
                        <div>It's hosted in the @channelName channel of the @teamName team</div>
                    }
                    else
                    {
                        <div>It's running as a personal app</div>
                    }
                }
                else
                {
                    <strong>The application is not running in Microsoft Teams</strong>
                }
            </p>
            <FluentTabs style="width: 80%; justify-content: space-between; margin: 4rem auto;">
                <FluentTab><strong>Files</strong></FluentTab>
                <FluentTab><strong>Tasks</strong></FluentTab>
                <FluentTabPanel>
                    <DocumentSummary />
                </FluentTabPanel>
                <FluentTabPanel>
                    <Tasks />
                </FluentTabPanel>
            </FluentTabs>
        </div>
    </div>
}

@code {
    string userName;
    string errorMessage;
    bool isInTeams;
    bool isLoading = true;
    string teamName;
    string channelName;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            isInTeams = await MicrosoftTeams.IsInTeams();

            if (isInTeams)
            {
                var user = await teamsUserCredential.GetUserInfoAsync();
                userName = user.DisplayName;
                var teamsContext = await MicrosoftTeams.GetTeamsContextAsync();
                if (teamsContext != null && teamsContext.Team != null)
                {
                    teamName = teamsContext.Team.DisplayName;
                    channelName = teamsContext.Channel.DisplayName;
                }
            }
            else
            {
                errorMessage = "Not running in Microsoft Teams.";
            }
            isLoading = false;
            StateHasChanged();
        }
    }

    private string GetEnvironmentName()
    {
        return HostEnvironment.IsDevelopment() ? "local environment" : "Azure environment";
    }
}